:root {
  --darkblue: #031759;
  --lightblue: #00f5ff;
  --greenish: #03b3bd;
  --blueish: #032761;
  --teal: #02c1cb;
}

// Fonts

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-regular.woff')
      format('woff'); /* Modern Browsers */
}

@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/rubik-v14-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v14-latin-300.woff')
      format('woff'); /* Modern Browsers */
}
@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/rubik-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/rubik-v14-latin-regular.woff')
      format('woff'); /* Modern Browsers */
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body {
  background-repeat: no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  height: 100%;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  margin: 0;
}
h1,
h3 {
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 1.21;
  @media (min-width: 768px) {
    font-size: 44px;
    font-size: 4.4rem;
  }
  @media (min-width: 1600px) {
    font-size: 55px;
    font-size: 5.5rem;
  }
}

h2 {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.31;
  @media (min-width: 768px) {
    font-size: 26px;
    font-size: 2.6rem;
  }
  @media (min-width: 1600px) {
    font-size: 35px;
    font-size: 3.5rem;
  }
}

p,
li,
a,
span {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-weight: 300;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.31;
  margin: 0;
  @media (min-width: 768px) {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

::placeholder {
  opacity: 0.6;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

// Specific sections

.mainwrapper {
  overflow: hidden !important;
}

.overlay {
  background-color: #fff;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
  opacity: 0;
}
.btn {
  border: 1px solid white;
  border-radius: 3px;
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 55px;
  line-height: 55px;
  margin-top: 60px;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  width: 100%;
  &:hover {
    background-color: white;
    color: #031759 !important;
  }
  @media (min-width: 768px) {
    font-size: 17px;
    font-size: 1.7rem;
    max-width: 320px;
  }
  &.center {
    @media (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

input[type='submit'] {
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover {
    background-color: white;
    color: #031759 !important;
  }
}

@keyframes menu-overlay-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
    overflow: hidden;
  }
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
